<app-navbar></app-navbar>
<div *ngIf="account" class="container">
  <br>
    <div class="form-group">
      <h4>Nazwa konta</h4>
      <p>{{account.name}}</p>
    </div>

    <div class="form-group">
      <h5>Saldo</h5>
      <p>{{account.balance}}</p>
    </div>

    <div class="form-group">
      <h5>Waluta</h5>
      <p>{{account.currency}}</p>
    </div>

    <div class="form-group">
      <h5>Numer konta</h5>
      <p>{{account.numberAccount}}</p>
    </div>

  <mat-tab-group animationDuration="10ms">

    <mat-tab label="Przelewy wychodzące">
      <br>
      <h2>Lista przelewów wychodzących:</h2>
      <table mdbTable>
        <thead class="thead-light">
        <tr>
          <th *ngFor="let head of headElementsFrom" scope="col">{{head}} </th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTable *ngFor="let transfer of transfersFromNumberAccount">
          <th scope="row">{{transfer.toNumberAccount}}</th>
          <td>{{transfer.balance}}</td>
          <td>{{transfer.currency}}</td>
          <td>{{transfer.createTransferDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{transfer.executeTransferDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{transfer.status}}</td>
        </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Przelewy przychodzące">
      <br>
      <h2>Lista przelewów przychodzących:</h2>
      <table mdbTable>
        <thead class="thead-light">
        <tr>
          <th *ngFor="let head of headElementsTo" scope="col">{{head}} </th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTable *ngFor="let transfer of transfersToNumberAccount">
          <th scope="row">{{transfer.fromNumberAccount}}</th>
          <td>{{transfer.balance}}</td>
          <td>{{transfer.currency}}</td>
          <td>{{transfer.createTransferDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{transfer.executeTransferDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{transfer.status}}</td>
        </tr>
        </tbody>
      </table>
    </mat-tab>

  </mat-tab-group>

</div>
