<app-navbar></app-navbar>
<div class="container">
  <br>
  <h2>Wprowadź dane do przelewu</h2>
  <form [formGroup] = "transferForm">
    <div class="form-group">
      <label for="fromNumberAccount">Z numeru konta</label>
      <select class="form-control" id="fromNumberAccount" required formControlName="fromNumberAccount">
        <option *ngFor="let number of listOfNumberAccounts" [value]="number">{{number}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="toNumberAccount">Na numer konta</label>
      <select class="form-control" id="toNumberAccount" required formControlName="toNumberAccount">
        <option *ngFor="let number of listOfNumberAccounts" [value]="number">{{number}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="balance">Kwota przelewu</label><br>
      <input class="form-control" id="balance" name="name" type="text" formControlName="balanceBeforeChangeCurrency">
      <div *ngIf="transferForm.get('balanceBeforeChangeCurrency').invalid && (transferForm.get('balanceBeforeChangeCurrency').dirty || transferForm.get('balanceBeforeChangeCurrency').touched)">
        <div *ngIf="transferForm.get('balanceBeforeChangeCurrency').hasError('pattern')" class="alert alert-danger">Wrong number</div>
        <div *ngIf="transferForm.get('balanceBeforeChangeCurrency').hasError('required')" class="alert alert-danger">Balance is required</div>
      </div>
    </div>


    <button type="submit" class="btn btn-success" (click)="createNewTransfer()">Wyślij przelew</button>

  </form>
</div>
