<app-navbar></app-navbar>
<div class="row" id="#search">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
      <label for="search">Search</label>
    </div>
  </div>
</div>
<table mdbTable id="#lista">
  <thead class="thead-light">
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts" (click)="accountDetails(account.id)">
    <th scope="row">{{account.balance}}</th>
    <td>{{account.currency}}</td>
    <td>{{account.name}}</td>
    <td>{{account.numberAccount}}</td>
    <td><button mat-stroked-button color="primary" routerLink="/editAccount/{{account.id}}">Edit</button></td>
    <td><button mat-stroked-button color="warn" (click)="openDialog(account.id)">Delete</button></td>
  </tr>
  </tbody>
</table>

<!--(click)="deleteAccount(account.id)-->
