<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark intro-fixed-nav" class="navCss"
            [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/home">Bank Roblox</a> </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/newAccount">Stwórz konto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/newTransfer">Wykonaj przelew</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/accounts">Lista rachunków</a>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
